---

---

<section class="mb-16">
  <h1 class="text-md font-bold mb-0.5">Henry Jonathan Chandra</h1>
  <p class="text-md font-semibold text-gray-400 mb-6">Full-Stack Developer</p>

  <div class="text-gray-300 leading-relaxed text-md">
    <p>
      I'm a Fullstack Developer at Hyura Dev, passionate about writing efficient
      code and building scalable systems with clean, user-friendly UI/UX. I'm
      currently exploring blockchain and shifting my focus toward developing
      decentralized applications (dApps).
    </p>
  </div>
</section>
